{# cadastro\templates\cadastro\contato.html #}

{% extends 'cadastro/base.html' %}

{% block titulo %} - Faça Contato{% endblock %}

{% block conteudo %}

<h2>Faça Contato</h2>
<p>Preencha todos os campos para falar conosco.</p>
<form method="POST">
    {% csrf_token %}

    <p>
        Nome:<br>
        {{ form.nome }}
    </p>

    <p>
        Email:<br>
        {{ form.email }}
    </p>

    <!-- 🔽 ADICIONADO -->
    <p>
        Assunto:<br>
        {{ form.assunto }}
    </p>
    <!-- 🔼 -->

    <p>
        Mensagem:<br>
        {{ form.mensagem }}
    </p>

    {% if sucesso %}
        <p style="color: green;">Mensagem enviada com sucesso!</p>
    {% endif %}

    <button type="submit">Enviar</button>

</form>

{% endblock %}